<div class="table_container">
  <a href="/add_user">
    <h2>Add New User</h2>
  </a>
  <table>
    <thead>
      <tr>
        <td>Order</td>
        <td>Name</td>
        <td>Age</td>
        <td>Live In</td>
        <td>Phone</td>
        <td>Action</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <% if(users.length==0){%>
        <td colspan="6" style="text-align: center;">Database Is Empty</td>
        <% }else{for(var i=0;i< users.length;i++){%>
        <td><%= i+1%></td>
        <td><%= users[i].name%></td>
        <td><%= users[i].age%></td>
        <td><%= users[i].address%></td>
        <td><%= users[i].phone%></td>
        <td>
          <a href="/update_user?id=<%=users[i]._id %>">Edit</a>
          <a href="/" data-id=<%=users[i]._id %> class="remove">Remove</a>
        </td>
      </tr>
      <%}}%>
    </tbody>
  </table>
</div>